/* Global Styles */
body, h2, table {
    font-family: 'Arial', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}

table {
    font-size: 16px;
    color: #555;
}

/* Filter styles */
.filter {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    display: flex; 
    flex-direction: column;  
    align-items: center;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    max-width: 90%;
    margin: 2rem auto;
    transition: box-shadow 0.3s ease;
}

.filterContent {  
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
}

.filter h2 {
    margin-bottom: 2rem; 
}

.filter:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.filtersContainer {
    display: flex;               
    flex-grow: 1;             
    flex-wrap: wrap;             
    justify-content: center;     
    align-items: center; 
    gap: 0.8rem;
}
.filtersContainer > div {
    margin: 0 auto;
    justify-content: center;
    width: 18rem;
}


button:active {
    transform: scale(0.98); 
}

.tableContainer {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 90%;
    transition: box-shadow 0.3s ease;
}

.tableContainer:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.table {
    overflow-x: auto;
    border-collapse: separate;
}


.toggleButtonIcon {
    margin-left: auto;

}

.toggleButtonIcon:hover {
    background-color: #1876D2;
}

.toggleButtonIcon:active {
    transform: scale(0.98);
}